@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Super Demo</h1>
    <p>Learn about GKE <a href="https://cloud.google.com/kubernetes-engine"> and the way to host apps</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">The Bashers</h1>
    <p>----------------------------</p>
    <p>1. Aditya</p>
    <p>2. Ankit</p>
    <p>3. Balaji</p>
    <p>4. Greeshma</p>
    <p>5. Nikhil</p>
    <p>6. Pawan</p>
    <p>7. Sri Harsha</p>
</div>
